<h1>My Bookstore</h1>

<div class="row">
    <div class="col btn btn-outline-dark"><a href="/books/A">A</a></div>
    <div class="col btn btn-outline-dark"><a href="/books/B">B</a></div>
    <div class="col btn btn-outline-dark"><a href="/books/C">C</a></div>
    <div class="col btn btn-outline-dark"><a href="/books/D">D</a></div>
    <div class="col btn btn-outline-dark"><a href="/books/E">E</a></div>
</div>

<div class="row">
    <div class="col btn btn-outline-dark"><a href="/books/F">F</a></div>
    <div class="col btn btn-outline-dark"><a href="/books/G">G</a></div>
    <div class="col btn btn-outline-dark"><a href="/books/H">H</a></div>
    <div class="col btn btn-outline-dark"><a href="/books/I">I</a></div>
    <div class="col btn btn-outline-dark"><a href="/books/J">J</a></div>
</div>

<div class="row">
    <div class="col btn btn-outline-dark"><a href="/books/K">K</a></div>
    <div class="col btn btn-outline-dark"><a href="/books/L">L</a></div>
    <div class="col btn btn-outline-dark"><a href="/books/M">M</a></div>
    <div class="col btn btn-outline-dark"><a href="/books/N">N</a></div>
    <div class="col btn btn-outline-dark"><a href="/books/O">O</a></div>
</div>

<div class="row">
    <div class="col btn btn-outline-dark"><a href="/books/P">P</a></div>
    <div class="col btn btn-outline-dark"><a href="/books/Q">Q</a></div>
    <div class="col btn btn-outline-dark"><a href="/books/R">R</a></div>
    <div class="col btn btn-outline-dark"><a href="/books/S">S</a></div>
    <div class="col btn btn-outline-dark"><a href="/books/T">T</a></div>
</div>

<div class="row">
    <div class="col btn btn-outline-dark"><a href="/books/U">U</a></div>
    <div class="col btn btn-outline-dark"><a href="/books/V">V</a></div>
    <div class="col btn btn-outline-dark"><a href="/books/W">W</a></div>
    <div class="col btn btn-outline-dark"><a href="/books/X">X</a></div>
    <div class="col btn btn-outline-dark"><a href="/books/Y">Y</a></div>
</div>

<div class="row">
    <div class="col btn btn-outline-dark"><a href="/books/Z">Z</a></div>
    <div class="col"></div>
    <div class="col"></div>
    <div class="col"></div>
    <div class="col"></div>
</div>

<div class="row">
    <div class="col btn btn-outline-dark"><a href="/books/0">0</a></div>
    <div class="col btn btn-outline-dark"><a href="/books/1">1</a></div>
    <div class="col btn btn-outline-dark"><a href="/books/2">2</a></div>
    <div class="col btn btn-outline-dark"><a href="/books/3">3</a></div>
    <div class="col btn btn-outline-dark"><a href="/books/4">4</a></div>
</div>

<div class="row">
    <div class="col btn btn-outline-dark"><a href="/books/5">5</a></div>
    <div class="col btn btn-outline-dark"><a href="/books/6">6</a></div>
    <div class="col btn btn-outline-dark"><a href="/books/7">7</a></div>
    <div class="col btn btn-outline-dark"><a href="/books/8">8</a></div>
    <div class="col btn btn-outline-dark"><a href="/books/9">9</a></div>
</div>