<h1 class="text-center">My Bookstore</h1>

<div class="row">
    <div class="col btn m-4 p-3 btn-outline-success"><a href="/books/A" class="fill-div">A</a></div>
    <div class="col btn m-4 p-3 btn-outline-success"><a href="/books/B" class="fill-div">B</a></div>
    <div class="col btn m-4 p-3 btn-outline-success"><a href="/books/C" class="fill-div">C</a></div>
    <div class="col btn m-4 p-3 btn-outline-success"><a href="/books/D" class="fill-div">D</a></div>
    <div class="col btn m-4 p-3 btn-outline-success"><a href="/books/E" class="fill-div">E</a></div>
</div>

<div class="row">
    <div class="col btn m-4 p-3 btn-outline-success"><a href="/books/F" class="fill-div">F</a></div>
    <div class="col btn m-4 p-3 btn-outline-success"><a href="/books/G" class="fill-div">G</a></div>
    <div class="col btn m-4 p-3 btn-outline-success"><a href="/books/H" class="fill-div">H</a></div>
    <div class="col btn m-4 p-3 btn-outline-success"><a href="/books/I" class="fill-div">I</a></div>
    <div class="col btn m-4 p-3 btn-outline-success"><a href="/books/J" class="fill-div">J</a></div>
</div>

<div class="row">
    <div class="col btn m-4 p-3 btn-outline-success"><a href="/books/K" class="fill-div">K</a></div>
    <div class="col btn m-4 p-3 btn-outline-success"><a href="/books/L" class="fill-div">L</a></div>
    <div class="col btn m-4 p-3 btn-outline-success"><a href="/books/M" class="fill-div">M</a></div>
    <div class="col btn m-4 p-3 btn-outline-success"><a href="/books/N" class="fill-div">N</a></div>
    <div class="col btn m-4 p-3 btn-outline-success"><a href="/books/O" class="fill-div">O</a></div>
</div>

<div class="row">
    <div class="col btn m-4 p-3 btn-outline-success"><a href="/books/P" class="fill-div">P</a></div>
    <div class="col btn m-4 p-3 btn-outline-success"><a href="/books/Q" class="fill-div">Q</a></div>
    <div class="col btn m-4 p-3 btn-outline-success"><a href="/books/R" class="fill-div">R</a></div>
    <div class="col btn m-4 p-3 btn-outline-success"><a href="/books/S" class="fill-div">S</a></div>
    <div class="col btn m-4 p-3 btn-outline-success"><a href="/books/T" class="fill-div">T</a></div>
</div>

<div class="row">
    <div class="col btn m-4 p-3 btn-outline-success"><a href="/books/U" class="fill-div">U</a></div>
    <div class="col btn m-4 p-3 btn-outline-success"><a href="/books/V" class="fill-div">V</a></div>
    <div class="col btn m-4 p-3 btn-outline-success"><a href="/books/W" class="fill-div">W</a></div>
    <div class="col btn m-4 p-3 btn-outline-success"><a href="/books/X" class="fill-div">X</a></div>
    <div class="col btn m-4 p-3 btn-outline-success"><a href="/books/Y" class="fill-div">Y</a></div>
</div>

<div class="row">
    <div class="col btn m-4 p-3 btn-outline-success"><a href="/books/Z" class="fill-div">Z</a></div>
    <div class="col btn m-4 p-3"></div>
    <div class="col btn m-4 p-3"></div>
    <div class="col btn m-4 p-3"></div>
    <div class="col btn m-4 p-3"></div>
</div>

<div class="row">
    <div class="col btn m-4 p-3 btn-outline-dark"><a href="/books/0" class="fill-div2">0</a></div>
    <div class="col btn m-4 p-3 btn-outline-dark"><a href="/books/1" class="fill-div2">1</a></div>
    <div class="col btn m-4 p-3 btn-outline-dark"><a href="/books/2" class="fill-div2">2</a></div>
    <div class="col btn m-4 p-3 btn-outline-dark"><a href="/books/3" class="fill-div2">3</a></div>
    <div class="col btn m-4 p-3 btn-outline-dark"><a href="/books/4" class="fill-div2">4</a></div>
</div>

<div class="row">
    <div class="col btn m-4 p-3 btn-outline-dark"><a href="/books/5" class="fill-div2">5</a></div>
    <div class="col btn m-4 p-3 btn-outline-dark"><a href="/books/6" class="fill-div2">6</a></div>
    <div class="col btn m-4 p-3 btn-outline-dark"><a href="/books/7" class="fill-div2">7</a></div>
    <div class="col btn m-4 p-3 btn-outline-dark"><a href="/books/8" class="fill-div2">8</a></div>
    <div class="col btn m-4 p-3 btn-outline-dark"><a href="/books/9" class="fill-div2">9</a></div>
</div>